.logo, .icon{
    width: 80px;
}

#hero-img {
    width: 100%;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

#hero h1, #hero h4 {
    text-align: center;
    
}

.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px; 
}

body {
    background-color: #e9e2d9;
}

header {
    background-color: #B08968;
}

.home-title{
    color: #000000;
}

h4 {
    color: #000000;
}

nav a:hover{
    background-color: rgb(60, 79, 107);
    color: #080808;
}

.book, .join {
    background-color: rgb(255, 255, 255);
    color: #3a2811;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: blue;
    color: #d9c2a3;
}

#background {
    background-color: rgb(211, 207, 207);
}

.msg {
    background-color: #B08968;
}
.msg h2{
    color: #000000;
}

.msg p {
    color: #000000;
}

footer {
    background-color: #B08968;
    color: #000000;
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
    color: #000000;
}

footer p {
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
}
